.profile-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-button-container > p {
    font-size: 24px;
    padding: 0;
    margin:  0;
    color: black;
}

.profile-button-image {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    z-index: -1;
}

.profile-button-dropdown-container {
    position: fixed;
    top:9vh;
    right: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 10rem;
    overflow-wrap: break-word;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.profile-dropdown-aboutme,
.profile-dropdown-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin: 1rem 0;
    border-radius: 0.3rem;
    cursor: pointer;
}

.profile-dropdown-aboutme:hover,
.profile-dropdown-logout:hover {
    background-color: rgba(128, 128, 128, 0.3);

}

.profile-dropdown-aboutme > img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    cursor: pointer;
    padding-left: 0.2rem;

}

.profile-dropdown-logout > img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    cursor: pointer;
}

.profile-dropdown-aboutme > p {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(45, 46, 47, 0.6);
    margin-left: 0.5rem;
}

.profile-dropdown-bottom {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}
