.business-list-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    width: 100%;
    padding-bottom: 5vh;
}

.business-list-splash-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.business-list-main-container >h2 {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 30px;
    margin: 50px auto;
}

.business-list-container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-content: space-between;
    justify-content: space-around;
    /* margin: 10px 200px; */
    box-sizing: border-box;
    /* margin-bottom: 30px; */
}

.business-list-detail-container {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;
    width: 600px;
    cursor: pointer;
}

.business-list-detail-container:hover {
    background-color: rgba(250,235,215,0.3);
}

.business-list-image {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.business-list-detail-right-container {
    margin-left: 10px;
}
.business-list-name {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    overflow-wrap: break-word;
    width: 300px;
}

.business-list-name:hover {
    text-decoration: underline;
}

.business-list-detail-right-container > p {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
}
