body {
    margin: 0;
}
.app-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}



.middle-section-container {
    /* margin: 10px auto; */
    width: 100%;
}

.app-footer-container {
    width: 100%;
    height: 3vh;
    position: fixed;
    bottom:  0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.2);
}

.app-footer-container > a,
.app-footer-container > p {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    color: green;
}
