.app-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    padding: 0 0;
}



.middle-section-container {
    margin: 10px auto;
}
