.profile-main-container {
    margin-top: 10vh;
    width: 70vw;
}

.profile-user-info > h1 {
    margin: 0;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 3rem;
}

.profile-user-business-review {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.profile-icon-image {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.profile-user-business-review > p {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.profile-user-business-review > p:hover {
    text-decoration: underline;
    color: #0073BB;
}

.profile-business-container {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.profile-business-container > img {
    height: 18vh;
    width: 18vh;
    object-fit: cover;
    border-radius: 10px;
}

.profile-business-info {
    margin-left: 1rem;
    width: 50vw;
}

.profile-business-info > h2 {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #0073BB;
    cursor: pointer;
}

.profile-business-info > h2:hover {
    text-decoration: underline;
}

.profile-business-info > p {
    margin: 0;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 1rem;
}

.profile-business-rating-images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-business-rating-images > p {
    margin: 0.5rem 0;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
}

.profile-business-rating-images img {
    height: 1.2rem;
    width: 1.2rem;
    object-fit: cover;
    margin-right: 0.2rem;
}

.profile-business-address > p {
    margin: 0.5rem 0;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 0.8rem;
    overflow-wrap: break-word;
}

.profile-business-edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.profile-business-edit-delete img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.6rem;
    cursor: pointer;
}

#profile-review-business-image {
    height: 10vh;
    width: 10vh;
}

.profile-review-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.profile-review-business-container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.profile-review-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;

}

.profile-review-rating img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.1rem;
}

.profile-review-review-info > p {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-size: 0.8rem;
    overflow-wrap: break-word;
    margin-top: 0;
}

.profile-review-edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.profile-review-edit-delete > img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.delete-modal-container {
    padding: 2rem;
    background-color: antiquewhite;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-modal-container > h2 {
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

.delete-modal-button {
    margin-right: 1rem;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    background-color: #D32323;
    border-radius: 4px;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    border: 0;
}


