.business-detail-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.business-detail-splash-image {
    position: absolute;
    top:0;
    z-index: -1;
    width: 100vw;
    height: 35vh;
    object-fit: cover;
}

.business-detail-info-container{
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
}

.business-detail-busi-info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;


}

.business-detail-busi-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.business-detail-busi-name > h2 {
    font-size: 48px;
    color: white;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
}

.business-detail-busi-name > p {
    font-size: 20px;
    color: red;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 10px;
}

.business-detail-busi-review {
    display: flex;
    flex-direction: row;
}

.business-detail-busi-review img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.business-detail-busi-review :nth-child(6) {
    color: orange;
    font-size: 30px;
    /* margin-bottom: 20px; */
    margin-top: 0px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
}

.business-detail-busi-review :nth-child(7) {
    color: white;
    font-size: 24px;
    margin-top: 4px;
    margin-left: 10px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;

}

.business-detail-busi-buttons :nth-child(1) {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
    color: #D32323;
}

.business-detail-busi-buttons :nth-child(2) {
    cursor: pointer;
    font-size: 20px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
}

.business-detail-review-button {
    cursor: pointer;
    font-size: 20px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
    width: 200px;
    background-color: #D32323;
    color: white;
    border: 1px solid #D32323;
    border-radius: 8px;
}

.business-detail-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-top: 2px solid rgba(128, 128, 128, 0.2);

}

.business-detail-image-section > h3 {
    font-size: 30px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
}

.business-detail-image-container {
    display: grid;
    max-width: 50vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-content: space-between;
    justify-content: space-around;
    /* margin: 10px 200px; */
    box-sizing: border-box;
    /* margin-bottom: 30px; */
}

.business-detail-image-container > div {
    width: 16vw;
    height: 16vw;
}
.business-detail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.business-detail-review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
}

.business-detail-review-section >h3 {
    font-size: 30px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
}

.business-detail-review-container {
    width: 50vw;
    margin: 20px 0;
    display: flex;
    flex-direction: column;



}

.business-detail-review-name {
    font-size: 24px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.business-detail-review-buttons {
    margin: 5px 0;
}

.business-detail-review-edit-button,
.business-detail-review-delete-button {
    font-size: 16px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.business-detail-review-rating-container {
    display: flex;
    flex-direction: row;
}

.business-detail-review-rating-image {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.business-detail-review-time {
    font-size: 16px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    margin-top: 5px;
}

.business-detail-review-content {
    font-size: 14px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    margin-top: 5px;
}

.business-detail-info-right-container {
    position: fixed;
    top: 40vh;
    right: 5vw;
    border: 2px solid rgba(128, 128, 128, 0.2);
    padding: 20px;
    border-radius: 8px;
    width: 30vh;
}

.business-detail-info-right-container > div {
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    width: 100%;
    overflow: auto;
}

.business-detail-info-right-container h3 {
    font-size: 20px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
}

.business-detail-info-right-container p {
    font-size: 16px;
    font-family: Helvetica Neue, Avenir, Helvetica, sans-serif;
    color: green;


}
